@import url(./Docsite-css/doc-navbar.css);
@import url(./Components/drui-v2.css);
@import url(./Docsite-css/doc-component-display.css);
@import url(./Docsite-css/doc-footer.css);
@import url(./Docsite-css/doc-sidebar.css);

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  box-sizing: border-box;
  word-wrap: break-word;
}

.main {
  padding: 4rem 3rem;
  grid-area: main;
  width: 100%;
  box-sizing: border-box;
  max-width: 100vw;
}

.body-container {
  margin-bottom: 1.5rem;
}

.grid-container-pagelayout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'header header header header header'
    'sidebar main main main main'
    'sidebar main main main main'
    'sidebar main main main main';
  margin-bottom: 1.5rem;
}

h2 {
  padding-top: 1rem;
}

.spacer-2rem {
  height: 2rem;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .main {
    padding: 1rem 1.625rem;
  }

  .grid-container-pagelayout {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'sidebar'
      'main';
  }
  body {
    width: 100vw;
  }
  .grid-container-pagelayout {
    width: 100%;
  }
}
