.alert-box {
  border-radius: 0.3rem;
  padding: 1rem 3rem 1rem 1rem;
  font-size: 1rem;
  margin: 1rem 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.alert-icon {
  margin-right: 0.625rem;
  width: 1em;
  height: 1em;
}

.alert-primary {
  background-color: var(--alert-primary-background);
  color: var(--primary-color);
}
.alert-box .link-text,
.alert-box .btn {
  font-weight: 500;
}
.alert-secondary {
  background-color: var(--secondary-color);
  color: #696b79;
}
.alert-success {
  background-color: #84f1c9;
  color: var(--green-color);
}
.alert-danger {
  color: var(--danger-red-color);
  background-color: var(--danger-red-secondary);
}
.alert-warning {
  color: var(--alert-warning-primary);
  background-color: var(--alert-warning-seconday);
}
.btn-close {
  background: transparent url('/Components/images/closeIcon.svg') center/1.1em
    auto no-repeat;
  border: 1px solid transparent;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.75rem;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  cursor: pointer;
  outline: none;
  z-index: var(--z-index-1);
}
.btn-close:focus {
  box-shadow: 0 0 0 2px black;
}
.btn-close:hover {
  opacity: 1;
}
