@import url(../Components/lists.css);
@import url(../Components/navigation.css);
@import url(../Components/image.css);
@import url(../Components/typography.css);
@import url(../Components/button.css);
@import url(../Components/grid.css);
@import url(../Components/alert.css);
@import url(../Components/avatar.css);
@import url(../Components/badge.css);
@import url(../Components/cards.css);
@import url(../Components/modal.css);
@import url(../Components/scroll-btn.css);

html {
  scroll-behavior: smooth;
}

body {
  color: #3e4152;
}

* {
  margin: 0;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
}

:root {
  --primary-color: #381696;
  --light-primary-color: #f13a87;
  --dark-primary-color: #e90c68;
  --complimentary-text-color: white;
  --secondary-text-color: #696b79;
  --dark-secondary-text-color: #3f4049;
  --secondary-color: #eaeaec;
  --dark-secondary-color: #d8d8da;
  --black-color: rgb(0, 0, 0);
  --green-color: #006400;
  --danger-red-color: #dc3545;
  --danger-red-secondary: #fcc5c5;
  --alert-primary-background: #7fd2e6;
  --alert-warning-primary: #ff9204;
  --alert-warning-seconday: #ffe7c5;
  --inactive-color: rgb(191, 192, 198);
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;
  --z-index-6: 6;
}
